body{
    font-family: Arial, sans-serif;
    background:#f2f6fb;
    padding:20px;
}
.container{
    max-width:1100px;
    margin:auto;
    background:#fff;
    padding:20px;
    border-radius:8px;
}
h2,h3{
    color:#2c3e50;
}
.info{
    padding:15px;
    margin-bottom:20px;
    border-left:5px solid #3498db;
    background:#eaf3ff;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}
th,td{
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}
th{
    background:#f0f4f8;
}
input{
    width:90%;
    padding:6px;
}

button{
    padding:8px 16px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    margin-top:10px;
}
.btn-add{
    background:#d6ecff;
}
.btn-calc{
    background:#b3dcff;
}

canvas{
    border:2px solid #ccc;
    margin-top:20px;
}

.max-profit{
    background:#ffd6e7;
}
.price-profit{
    background:#e8fff0;   /* profitable price */
}
.price-loss{
    background:#ffecec;   /* loss price */
}

.result{
    background:#f6fff9;
    padding:15px;
    border-left:5px solid #2ecc71;
    margin-top:20px;
}